/* ===========================================

Author : Levan Mebonia
Username: Levo96

Project: Etch A Sketch

=============================================== */
/* ------------GENERALl ------------- */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  display: flex;
  background-color: darkslategray;
}

/* ------------------------------------------- */

/* --------------- BOARD DESIGN -------------- */
/*--- Board Design ---*/
#board {
  margin: auto auto;
  width: 50%;
  height: 95%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 8px 6px black;
  border: 4px solid grey;
}
/* ------------------ */

/* -- placing the divs/containers in the board */
.board_items {
  width: 100%;
}

#board_title_container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch_board_container {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch_board {
  width: 90%;
  height:95%;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;


}

#board_buttons_container {
  height: 20%;
  display: flex;
}

#board_items_containers {
  border: 1px solid black;
}

.board_items_containers {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.board_buttons {
  width: 8em;
  height: 2.5em;
  border-radius: 50px;
  background-color: white;
}

#color_picker_board {
  position: absolute;
  width: 19rem;
  height: 19rem;
  border: 1px solid black;
  top: 150px;
  left: 970px;
  border: 4px solid grey;
  border-left-color: red;
  background-color: red;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.cpb_items {
  width: 100%;
}

#close_button_container {
  height: 10%;
  display: flex;
  justify-content: flex-end;
}


#cpb_close_button {
  width: 30%;
  color: grey;
  background-color: white;
  font-size: 1.4em;
}

.cpbi_buttons {
  width: 30%;
  height: 2em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  background-color: white;
  box-shadow: 3px 3px 8px 1px black;
  border: 2px solid grey;
}

#cpb_close_button:hover {
  color: red;
  border: 1px solid black;
  background-color: black;
}

#colors_container {
  height: 80%;
}

#cpb_spacer_bottom {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#colors_container {
  display: flex;
}

.cc_spacer {
  width: 5%;
  height: 100%;
}

#cc_colors  {
  width: 90%;
  height: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

#grid_size_input {
  position: absolute;
  top: 118px;
  left: 360px;
  width: 36rem;
  height: 22rem;
  z-index: 3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.gsi_items {
  width: 100%;
}

#gsi_ione {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#gsi_itwo  {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gsi_ithree {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- */


/* ------ Designing the Bord Items ----- */
#board_title {
  font-family: 'Pacifico', cursive;
  font-size: 3.5em;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 3px 3px 1px black;
}

#bt_sketch_word {
  font-style: italic;
}

.board_buttons {
  box-shadow: 3px 3px 8px 1px black;
  border: 2px solid grey;
  font-weight: bold;
}

.board_buttons:hover {
  box-shadow: 3px 3px 5px 0px black;
  height: 2.5em;
  width:7.8em;
}

.board_buttons:foucs {
  box-shadow: 3px 3px 5px 0px black;
  height: 2.5em;
  width:7.8em;
}

.cpbi_buttons:hover{
  box-shadow: 3px 3px 5px 0px black;
}

#gsi_ione_title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  letter-spacing: 2px;
  color: black;
}

.gsi_ione_sub_text  {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}

#user_input_g_size {
  padding: 10px 10px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: black;
}


#user_input_g_size:focus, #user_input_g_size:hover {
  border-color: yellow;
  background-color: black;
  color: yellow;
}


.gsi_ithree_buttons {
  width: 10rem;
  height: 3rem;
  margin-left: 15px;
  margin-right: 15px;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.gsi_ithree_buttons:hover {
  color: yellow;
  border-color: yellow;
}


/*--- Colors on the Color picker Board ---*/

.colors_items  {
  border: 3px solid black;
}


.colors_items:hover {
  box-shadow: 3px 3px 5px black;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}


#blue {
  background-color: blue;
}

#purple {
  background-color: purple;
}

#brown {
  background-color: brown;
}

#pink  {
  background-color: pink;
}

#black  {
  background-color: black;
}

#grey {
  background-color: grey;
}

#lime {
  background-color: lime;
}


#dodgerBlue {
  background-color: dodgerBlue;
}

#navy {
  background-color: navy;
}

#seaGreen {
  background-color: seaGreen
}

#violet {
  background-color: violet;
}

#Indigo_{
  background-color: Indigo;
}

/* -------------------------------------- */

/* ---------------------------------------------- */

/* ---------------------------------------------------*/
